* {
  font-size: 16px;
  font-family: "Cormorant Garamond", serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
body.noScroll {
  overflow-y: hidden;
}

/* ============================================================
                      BACKDROP
=============================================================== */
.backdrop {
  position: fixed;
  top: -2000px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: background 0.5s ease-in-out;
}
.backdrop.activeMainBar {
  top: 0;
  background: rgba(230, 230, 230, 0.7);
  transition: background 0.5s ease-in-out;
}
/* ============================================================
                    NAVIGATION BAR
=============================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  transition: top 0.5s;
}
.visibleNavBar {
  width: 100%;
  height: 85px;
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hamburgerMenuContainer {
  position: relative;
  width: 44px;
  height: 44px;
  margin-left: 10px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburgerMiddleBar {
  position: relative;
  width: 50%;
  height: 2px;
  border-radius: 2px;
  background: rgba(157, 132, 96, 1);
  transition: all 0.5s;
}
.hamburgerMiddleBar::after,
.hamburgerMiddleBar::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: rgba(157, 132, 96, 1);
}
.hamburgerMiddleBar::before {
  transform: translateY(-6px);
  transition: transform 0.5s;
}
.hamburgerMiddleBar::after {
  transform: translateY(6px);
  transition: transform 0.5s;
}
.hamburgerMenuContainer.openNav .hamburgerMiddleBar {
  transform: translateX(-50px);
  transition: transform 0.5s;
}
.hamburgerMenuContainer.openNav .hamburgerMiddleBar:before {
  transform: translateX(50px) rotate(45deg);
  transition: transform 0.5s;
}
.hamburgerMenuContainer.openNav .hamburgerMiddleBar:after {
  transform: translateX(50px) rotate(-45deg);
  transition: transform 0.5s;
}
.hamburgerMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  cursor: pointer;
  background: transparent;
  z-index: 1;
}
.logo {
  width: 120px;
  height: 80px;
  opacity: 0.8;
  background: url("./images/goatLogo.jpg") no-repeat center;
  background-size: cover;
}
.shoppingCartLogoContainer {
  width: 55px;
  height: 44px;
  margin-right: 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.shoppingCartLogo i {
  font-size: 1.2rem;
  color: rgba(70, 70, 70, 1);
}
.itemsCounterIcon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 1);
  background: rgba(157, 132, 96, 1);
}
.hidingNavBar {
  position: absolute;
  top: -300px;
  left: 0;
  width: 100%;
  z-index: -1;
  transition: top 0.5s ease-in-out;
}
.hidingNavBar.activeMainBar {
  top: 85px;
  transition: top 0.5s ease-in-out;
}
.navBarList {
  width: 100%;
  margin: 0;
  padding: 15px 22px 0 22px;
  list-style: none;
  background: rgba(255, 255, 255, 1);
}
.navItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 0;
  font-size: 0.9rem;
  letter-spacing: 1.3px;
  color: rgba(160, 160, 160, 1);
  cursor: pointer;
  border-bottom: 1px solid rgba(234, 234, 234, 1);
  transition: all 0.5s;
}
.subItem li a i,
.navItem i {
  display: inline-block;
  font-size: 0.8rem;
  color: rgba(160, 160, 160, 1);
  transition: color 0.5s;
}
.navItem.rotateArrow i {
  transform: rotate(90deg);
  transition: transform 0.1s;
}
.subItem {
  list-style: none;
  display: none;
}
.subItem.activeSubBar {
  display: flex;
  flex-direction: column;
}
.subItem li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 0;
  font-size: 0.9rem;
  letter-spacing: 1.3px;
  text-decoration: none;
  color: rgba(160, 160, 160, 1);
  border-bottom: 1px solid rgba(234, 234, 234, 1);
  transition: all 0.5s;
}
.navItem:hover,
.subItem li a:hover {
  padding-left: 10px;
  color: rgba(157, 132, 96, 1);
  transition: all 0.5s;
}
.socialIcons a:hover i,
.subItem li a:hover i,
.navItem:hover i {
  color: rgba(157, 132, 96, 1);
  transition: color 0.5s;
}
.socialIcons {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialIcons a {
  width: 44px;
  height: 44px;
  margin: 0 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialIcons a i {
  font-size: 1.2rem;
  color: rgba(160, 160, 160, 1);
  transition: color 0.5s;
}

/* ============================================================
                HOME PAGE BEST SELLER ARTICLE
=============================================================== */
.homePageBestSellerContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}
.homeBackgroundImage {
  width: 100%;
  height: 270px;
  background: url("./nature2.jpg") no-repeat center;
  background-size: cover;
  filter: grayscale(0.4);
}
.bestSellerPicture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -87%);
  width: 50%;
  height: 40%;
  background: url("./images/sumatra.png") no-repeat center;
  background-size: cover;
  z-index: 1;
}
.homeBestSellerDescriptionContainer {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bestSellerTitle {
  margin: 20px 0 10px;
  width: 85%;
  text-align: center;
  line-height: 1.1;
  font-size: 2.5rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}
.bestSellerSubtitle {
  width: 85%;
  text-align: center;
  line-height: 1.5;
  margin: 5px 0 40px 0;
  font-size: 0.9rem;
  font-weight: 200;
  letter-spacing: 1.1px;
  color: rgba(140, 140, 140, 1);
}
.viewCoffeeButton {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 25px 40px;
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  color: rgba(255, 255, 255, 1);
  background: rgba(157, 132, 96, 1);
  transition: background 0.5s;
}
.viewCoffeeButton:hover {
  background: rgba(157, 132, 96, 0.8);
  transition: background 0.5s;
}
.viewCoffeeButton i {
  font-size: 0.6rem;
  margin-left: 5px;
}

/* ============================================================
                    BEST SELLER SELECTION PAGE
=============================================================== */
.coffeePictureContainer {
  position: relative;
  width: 100%;
  height: 80vh;
  margin-bottom: 5px;
  background: linear-gradient(rgba(220, 220, 220, 1), rgba(255, 255, 255, 1));
}
.coffeePicture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -37%);
  width: 80%;
  height: 80%;
  background: url("./images/sumatra.png") no-repeat center;
  background-size: cover;
}
.coffeeDescriptionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.beanPrice,
.coffeeTitle {
  margin: 0;
  width: 85%;
  text-align: center;
  line-height: 1.2;
  font-size: 2.7rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}
.coffeeSubtitle {
  width: 85%;
  margin: 20px 0 10px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1.2px;
  line-height: 1.5;
  color: rgba(160, 160, 160, 1);
}
.beanPrice {
  font-size: 3.3rem;
  font-family: "Cormorant Upright";
  margin-bottom: 25px;
  font-weight: 600;
}
.weightSelection {
  width: 80px;
  height: 50px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  background: rgba(240, 240, 240, 1);
  border: none;
}
.beanType {
  margin: 35px 0;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectBean {
  width: 110px;
  height: 130px;
  margin: 0 8px;
  padding: 15px;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: border 0.3s;
}
.wholeBean {
  background: rgba(240, 240, 240, 1);
}
.wholeBean:hover,
.ground:hover {
  border: 1px solid rgba(240, 240, 240, 1);
  transition: border 0.3s;
}
.ground span,
.wholeBean span {
  margin-top: 5px;
  font-size: 0.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  color: rgba(0, 0, 0, 0.8);
}
.cardRelated {
  width: 85%;
  margin: 5px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardItemsAdded {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(200, 200, 200, 1);
  text-align: center;
  font-size: 1.1rem;
  -moz-appearance: textfield;
}
.cardItemsAdded:hover {
  -moz-appearance: none;
}
.addCoffeeToCard {
  padding: 25px 50px;
  margin-left: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 1.2px;
  color: rgba(255, 255, 255, 1);
  background: rgba(157, 132, 96, 1);
  transition: background 0.5s;
}
.addCoffeeToCard:hover {
  background: rgba(157, 132, 96, 0.8);
  transition: background 0.5s;
}

/* ============================================================
                 COFFEE ADDED TO CARD POPUP
=============================================================== */
.coffeeAddedContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background: rgba(70, 70, 70, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
.textAddedToCart {
  display: block;
  margin: 20px 0 5px;
  font-size: 1.1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}
.exitContainerSymbol {
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: rgba(40, 40, 40, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s;
}
.exitContainerSymbol i {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 1);
  transition: color 0.5s;
}
.exitContainerSymbol:hover {
  background: rgba(255, 255, 255, 1);
  transition: background 0.5s;
}
.exitContainerSymbol:hover i {
  color: rgba(70, 70, 70, 1);
  transition: color 0.5s;
}
.coffeeNameAdded {
  display: block;
  margin: 20px 0 10px;
  font-size: 1.1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
}
.priceQuantityAdded,
.priceQuantityAdded span {
  font-size: 1.4rem;
  font-weight: 300;
  font-family: "Cormorant Upright";
  color: rgba(160, 160, 160, 1);
}
.operationAvailable a {
  display: inline-block;
  font-size: 0.65rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  padding: 12px 42px;
  margin: 25px 7px 20px;
  border: 2px solid rgba(240, 240, 240, 1);
  color: rgba(255, 255, 255, 1);
  transition: background 0.5s;
}
.operationAvailable a:hover {
  background: rgba(157, 132, 96, 1);
  color: rgba(70, 70, 70, 1);
  border: 2px solid rgba(157, 132, 96, 1);
  transition: background 0.5s;
}
/* ============================================================
                           MENU
=============================================================== */
.menuBackgroundContainer {
  width: 100%;
}
.menuMainContainer {
  width: 100%;
}
.menuTitle,
.locationTitle,
.contactTitle,
.blogTitle {
  width: 100%;
  margin: 0 auto 20px;
  padding: 95px 0 0 0;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  color: rgba(70, 70, 70, 1);
}
.menuContainer {
  width: 100%;
  margin: 35px 0 90px;
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.menuPrincipalSection {
  width: 80%;
  margin: 5px auto;
  border-bottom: 1px solid rgba(200, 200, 200, 1);
}
.menuSubTitle {
  margin: 50px 0 30px;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: rgba(157, 132, 96, 1);
}
.coldBrewSubTitle {
  margin-top: 0px;
}
.menuSubSection {
  width: 100%;
  padding: 5px 0;
  border-top: 1px solid rgba(200, 200, 200, 1);
}
.subSectionItemName {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(70, 70, 70, 1);
}
.menuItemPrice {
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(70, 70, 70, 1);
}
.subSectionDescription {
  margin: 10px 0;
  font-size: 0.9rem;
  font-style: italic;
  letter-spacing: 1.1px;
  color: rgba(140, 140, 140, 1);
}

/* ============================================================
                    LOCATION AND BLOG
=============================================================== */
.blogBackgroundContainer,
.locationBackgroundContainer {
  width: 100%;
  padding-bottom: 90px;
}
.mainBlogContainer,
.locationContainer {
  width: 85%;
  margin: 0 auto;
}
.blogsContainer,
.shopsLocationContainer {
  width: 100%;
}
.blogContainer,
.shopLocationContainer {
  width: 100%;
  margin-bottom: 60px;
}
.blogContainer:last-of-type,
.shopLocationContainer:last-of-type {
  margin-bottom: 0px;
}
.blogDescription,
.locationDescription {
  width: 65%;
  margin: 0 auto 40px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  color: rgba(70, 70, 70, 1);
  display: none;
}
.pictureblogTag,
.pictureLocationTag {
  display: block;
  width: 100%;
}
.blogPicture,
.locationPicture {
  display: block;
  width: 100%;
  cursor: pointer;
}
.blogTextContainer,
.locationAddressContainer {
  width: 100%;
  height: 220px;
  padding: 20px 0 30px;
  text-align: center;
  background: rgba(243, 243, 243, 1);
}
.locationName {
  width: 100%;
  margin: 0;
}
.blogName a,
.locationName a {
  display: block;
  width: 85%;
  margin: 0 auto;
  font-size: 2.1rem;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  letter-spacing: 1.2px;
  text-decoration: none;
  color: rgba(157, 132, 96, 1);
  transition: color 0.5s;
}
.blogName a:hover,
.locationName a:hover {
  color: rgba(70, 70, 70, 1);
  transition: color 0.5s;
}
.blogText,
.locationAddress {
  width: 85%;
  margin: 20px auto 15px;
  line-height: 1.5;
  color: rgba(70, 70, 70, 1);
}
.locationPhoneNumber {
  display: block;
  text-decoration: none;
  color: rgba(70, 70, 70, 1);
}
.readMoreContainer,
.locationOpenHoursContainer {
  width: 100%;
  padding: 30px 0;
  text-align: center;
  background: rgba(230, 230, 230, 1);
}
.locationHoursSubContainer {
  width: 100%;
}
.locationWeekDay {
  width: 85%;
  margin: 0 auto;
}
.locationWeekend {
  width: 85%;
  margin: 30px auto 40px;
}
.weekendsTime,
.weekDaysTime {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Playfair Display", serif;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: rgba(70, 70, 70, 1);
}
.openHoursWeekDays,
.openHoursWeekends {
  color: rgba(70, 70, 70, 1);
}
.openHoursWeekends {
  line-height: 2;
}
.viewMoreButton,
.viewDetailsButton {
  display: inline-block;
  width: 190px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 1);
  background: rgba(157, 132, 96, 1);
  transition: background 0.5s;
}
.viewMoreButton i,
.viewDetailsButton i {
  font-size: 0.6rem;
  margin-left: 5px;
  color: rgba(255, 255, 255, 1);
}
.viewMoreButton {
  width: 170px;
}
.viewMoreButton:hover,
.viewDetailsButton:hover {
  background: rgba(70, 70, 70, 1);
  transition: background 0.5s;
}
.blogTextContainer {
  height: 270px;
}
.blogName a {
  font-size: 2rem;
}
.blogDate {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
  color: rgba(70, 70, 70, 1);
}
.readMoreContainer {
  padding: 10px 0 30px;
}

/* ============================================================
                         ARTICLE
=============================================================== */
.articleBackgroundContainer {
  width: 100%;
}
.articleMainContainer {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0 60px;
}
.article4MainPhoto,
.article3MainPhoto,
.article1MainPhoto,
.article2MainPhoto {
  width: 100%;
  height: 310px;
}
.article1MainPhoto {
  background: url("images/coffeeBean.jpg") no-repeat center;
  background-size: cover;
}
.article2MainPhoto {
  background: url("images/roasting.jpg") no-repeat center;
  background-size: cover;
}
.article3MainPhoto {
  background: url("images/toraja.jpg") no-repeat center;
  background-size: cover;
}
.article4MainPhoto {
  background: url("images/specialtyCoffee.jpg") no-repeat center;
  background-size: cover;
}
.articleDate {
  display: block;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Playfair Display", serif;
}
.articleTitle {
  width: 85%;
  margin: 10px auto 35px;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  color: rgba(157, 132, 96, 1);
}
.articleMainContainer p {
  width: 85%;
  margin: 0 auto 30px;
  text-align: justify;
  line-height: 1.5;
  color: rgba(70, 70, 70, 1);
}
.articleSubtitle {
  display: block;
  width: 85%;
  margin: 0 auto 10px;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}
.nextArticle {
  display: block;
  width: 160px;
  padding: 20px 0;
  margin: 60px auto 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 1);
  background: rgba(157, 132, 96, 1);
  transition: background 0.5s;
}
.nextArticle:hover {
  background: rgba(70, 70, 70, 1);
  transition: background 0.5s;
}
.nextArticle i {
  font-size: 0.6rem;
  margin-left: 5px;
  color: rgba(255, 255, 255, 1);
}
/* ============================================================
                          CONTACT
=============================================================== */
.contactBackgroundContainer {
  width: 100%;
}
.contactMainContainer {
  width: 100%;
}
.contactContainer {
  width: 85%;
  margin: 30px auto 60px;
}
.contactInformation {
  width: 100%;
  line-height: 1.5;
  color: rgba(70, 70, 70, 1);
}
.contactInformation span {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 1.3rem;
  font-weight: 800;
}
.contactInformation .contactPhone {
  text-decoration: none;
  color: rgba(70, 70, 70, 1);
}
.contactQuestions {
  margin: 30px 0;
  line-height: 1.5;
}
.contactQuestions a {
  position: relative;
  text-decoration: none;
  color: rgba(157, 132, 96, 1);
  transition: color 0.5s;
}
.contactQuestions a:hover {
  color: rgba(70, 70, 70, 1);
  transition: color 0.5s;
}
.contactQuestions a:before {
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 1px;
  width: 0%;
  content: "";
  background: rgba(157, 132, 96, 1);
  transition: width 0.2s ease-in;
}
.contactQuestions a:hover:before {
  width: 100%;
  transition: width 0.2s ease-in;
}
.contactGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 35px;
  margin-top: 50px;
}
.contactSection {
  position: relative;
  width: 100%;
  height: 35px;
  border: 1px solid rgba(200, 200, 200, 1);
}
.contactTextArea {
  position: relative;
  height: 150px;
}
.contactTextArea textarea,
.contactSection input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-size: 0.8rem;
  font-family: "Playfair Display", serif;
  color: rgba(70, 70, 70, 1);
  border: none;
  background: transparent;
  z-index: 1;
}
.contactTextArea textarea {
  padding: 10px 10px;
  line-height: 1.5;
  resize: none;
}
.contactSection .sectionTitle {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-size: 0.8rem;
  font-family: "Playfair Display", serif;
  letter-spacing: 1.1px;
  margin: -23px 0 0 -1px;
  transition: margin 0.5s;
}
.contactSection .sectionBorder {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0%;
  height: 2px;
  border-radius: 2px;
  background: rgba(157, 132, 96, 1);
  transition: width 1s;
}
.contactSection textarea:focus ~ .sectionBorder,
.contactSection input:focus ~ .sectionBorder {
  width: 100%;
  transition: width 1s;
}
.contactButtonContainer {
  text-align: right;
}
.contactSendButton {
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 0.7rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  background: rgba(157, 132, 96, 1);
  border: none;
  transition: background 0.5s;
}
.contactSendButton:hover {
  background: rgba(70, 70, 70, 1);
  transition: background 0.5s;
}
/* ============================================================
                        RETURN POLICY 
=============================================================== */
.returnPolicyMainContainer {
  width: 100%;
  height: 100vh;
}
.returnPolicySecondContainer {
  width: 100%;
  height: 100%;
}
.returnPolicyPicture {
  width: 100%;
  height: 300px;
  background: url("images/returnPolicy.jpg") no-repeat center;
  background-size: cover;
}
.returnPolicyContainer {
  width: 85%;
  margin: 0 auto;
  padding: 20px 0 0;
}
.returnPolicyTitle {
  width: 100%;
  margin: 0 auto 30px;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  color: rgba(70, 70, 70, 1);
}
.returnPolicyDescription {
  width: 100%;
  margin-bottom: 30px;
  text-align: justify;
  color: rgba(70, 70, 70, 1);
}
/* ============================================================
                         MAILING LIST
=============================================================== */
.mailingListContainer {
  position: relative;
  width: 100%;
  height: 250px;
  padding: 20px 0;
  background-color: rgba(220, 220, 220, 0.2);
}
.mailingListContainer:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: url("./images/goatBackground.png") no-repeat center;
  background-size: 300px;
  z-index: -1;
}
.mailingListContainer h1 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 2.1rem;
  font-weight: lighter;
  font-family: "Playfair Display", serif;
  letter-spacing: 1.1px;
  color: rgba(70, 70, 70, 1);
}
.mailingListContainer p {
  width: 88%;
  margin: 30px auto 40px;
  font-weight: 0.9rem;
  text-align: center;
  line-height: 1.3;
  letter-spacing: 1.1px;
  color: rgba(140, 140, 140, 1);
}
.mailingListContainer form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88%;
  height: 50px;
  margin: 0 auto;
}
.mailingListContainer form input[type="text"] {
  width: 250px;
  height: 100%;
  padding: 0 20px;
  font-size: 0.9rem;
  letter-spacing: 1.1px;
  border: none;
}
.mailingSignUp {
  width: 85px;
  height: 100%;
  font-size: 0.7rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.1px;
  border: none;
  background: rgba(157, 132, 96, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: background 0.5s;
}
.mailingSignUp:hover {
  background: rgba(70, 70, 70, 1);
  transition: background 0.5s;
}
/* ============================================================
                           FOOTER
=============================================================== */
footer {
  width: 100%;
}
.footerMainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footerLogoContainer {
  width: 85%;
  margin: 10px auto 0;
  display: flex;
  align-items: center;
}
.leftLine,
.rightLine {
  width: 50%;
  height: 1px;
  border-radius: 2px;
  background: transparent;
}
.footerLogo {
  display: block;
  width: 120px;
  height: 80px;
  background: url("./images/goatLogo.jpg") no-repeat center;
  background-size: cover;
}
.footerContainer {
  width: 90%;
  margin: 0 auto;
}
.footerPrincipalSection {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin-bottom: 30px;
  display: none;
}
.footerSubSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.subSectionTitle {
  margin: 0 0 20px;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1.1px;
  color: rgba(70, 70, 70, 1);
}
.footerSubSection a {
  font-size: 1.1rem;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 2;
  color: rgba(157, 132, 96, 1);
  transition: color 0.5s;
}
.footerSubSection a:hover {
  color: rgba(70, 70, 70, 1);
  transition: color 0.5s;
}
.footerSocialIcons {
  width: 80%;
  margin: 30px auto;
  text-align: center;
}
.footerSocialIcons a {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 7px;
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid rgba(160, 160, 160, 1);
  transition: all 0.5s;
}
.footerSocialIcons i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  color: rgba(70, 70, 70, 1);
  transition: color 0.5s;
}
.footerSocialIcons a:hover {
  border: 1px solid transparent;
  background: rgba(157, 132, 96, 1);
  transition: all 0.5s;
}
.footerSocialIcons a:hover i {
  color: rgba(255, 255, 255, 1);
  transition: color 0.5s;
}
.footerRigths {
  width: 80%;
  margin: 0 auto 30px;
  text-align: center;
  font-size: 0.8rem;
  color: rgba(70, 70, 70, 1);
}
/* ============================================================
                           FADE IN
=============================================================== */
.fadeIn {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease-in-out;
}
.fadeIn.appear {
  opacity: 1;
  transform: translateY(0);
}

/* ============================================================
                           MEDIA QUERIE
=============================================================== */
@media screen and (min-width: 768px) {
  /* FOR THE NAVBAR */
  .visibleNavBar {
    height: 120px;
  }
  .hidingNavBar.activeMainBar {
    top: 120px;
  }
  .logo {
    width: 120px;
    height: 120px;
    opacity: 0.8;
    background: url("./images/longLogo.jpeg") no-repeat center;
    background-size: cover;
  }
  .subItem li a,
  .navItem {
    font-size: 1rem;
  }
  .socialIcons a i {
    font-size: 1.4rem;
  }

  /* FOR THE MENU */
  .menuBackgroundContainer {
    padding-top: 35px;
    background: rgba(220, 220, 220, 0.2);
  }
  .menuMainContainer {
    width: calc(100% - 40px);
    margin: 0 auto;
    padding-bottom: 90px;
    background: rgba(255, 255, 255, 1);
  }
  .blogTitle,
  .contactTitle,
  .locationTitle,
  .menuTitle {
    width: calc(100% - 40px);
    padding: 110px 0 0 0;
    font-size: 5rem;
    background: rgba(255, 255, 255, 1);
  }
  .menuContainer {
    width: 70%;
    margin: 40px auto 0;
    padding-bottom: 50px;
    background: rgba(240, 240, 240, 1);
  }
  .menuPrincipalSection:first-of-type {
    margin-top: 40px;
  }
  .menuSubTitle {
    text-align: left;
  }

  /* FOR THE LOCATION AND BLOG */
  .blogBackgroundContainer,
  .locationBackgroundContainer {
    padding: 35px 0 0;
    background: rgba(220, 220, 220, 0.2);
  }
  .mainBlogContainer,
  .locationContainer {
    width: calc(100% - 40px);
    background: rgba(255, 255, 255, 1);
    padding-bottom: 90px;
  }
  .blogsContainer,
  .shopsLocationContainer {
    width: 90%;
    margin: 0 auto;
  }
  .blogDescription,
  .locationDescription {
    display: block;
  }
  .locationName a {
    font-size: 3rem;
  }
  .locationAddressContainer {
    height: 230px;
  }
  .locationPhoneNumber,
  .locationAddress {
    width: 60%;
    font-size: 1.2rem;
  }
  .locationPhoneNumber {
    margin: 0 auto;
  }
  .locationHoursSubContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .locationWeekend,
  .locationWeekDay {
    width: 30%;
    margin: 0 10px 40px;
  }
  .weekendsTime,
  .weekDaysTime {
    font-size: 1.4rem;
  }
  .openHoursWeekDays,
  .openHoursWeekends {
    font-size: 1.2rem;
  }
  .viewMoreButton,
  .viewDetailsButton {
    width: 220px;
    font-size: 0.8rem;
  }
  .viewMoreButton i,
  .viewDetailsButton i {
    font-size: 0.7rem;
  }
  .viewMoreButton {
    width: 180px;
  }
  .blogTextContainer {
    height: 280px;
  }
  .blogName a {
    font-size: 2.8rem;
  }
  .blogText {
    font-size: 1.2rem;
    margin: 30px auto 15px;
  }

  /* FOR THE ARTICLE */
  .articleBackgroundContainer {
    padding-top: 35px;
    background: rgba(220, 220, 220, 0.2);
  }
  .articleMainContainer {
    width: calc(100% - 40px);
    margin: 0 auto;
    padding: 0 0 90px;
    background: rgba(255, 255, 255, 1);
  }
  .article4MainPhoto,
  .article3MainPhoto,
  .article1MainPhoto,
  .article2MainPhoto {
    width: 100%;
    height: 450px;
  }
  .articleDate {
    margin-top: 20px;
  }
  .articleTitle {
    margin: 10px auto 45px;
    font-size: 3rem;
  }
  .articleMainContainer p {
    font-size: 1.2rem;
  }
  .articleSubtitle {
    font-size: 1.3rem;
    font-weight: 800;
  }
  .nextArticle {
    width: 190px;
    padding: 25px 0;
    font-size: 0.8rem;
  }
  .nextArticle i {
    font-size: 0.7rem;
  }

  /* FOR THE CONTACT */
  .contactBackgroundContainer {
    padding-top: 35px;
    background: rgba(220, 220, 220, 0.2);
  }
  .contactMainContainer {
    width: calc(100% - 40px);
    height: calc(100vh - 35px);
    margin: 0 auto;
    background: rgba(255, 255, 255, 1);
  }
  .contactGrid {
    grid-template-columns: 1fr 1fr;
  }
  .contactButtonContainer,
  .contactTextArea,
  .contactEmail,
  .contactMobile {
    grid-column: 1/3;
  }
  .contactInformation,
  .contactPhone,
  .contactQuestions,
  .contactQuestions a {
    font-size: 1.2rem;
  }
  .contactInformation span {
    font-size: 1.4rem;
  }
  .contactSection .sectionTitle {
    font-size: 0.9rem;
  }
  .contactSendButton {
    padding: 15px 45px;
    font-size: 0.8rem;
  }

  /* FOR THE RETURN POLICY */
  .returnPolicyPicture {
    height: 600px;
  }
  .returnPolicyTitle {
    margin: 0 auto 50px;
    font-size: 5rem;
  }
  .returnPolicyDescription {
    font-size: 1.2rem;
  }

  /* FOR THE MAILING LIST */
  .mailingListContainer {
    margin-top: 0px;
    height: 330px;
  }
  .mailingListContainer:before {
    background-size: 450px;
  }
  .mailingListContainer h1 {
    font-size: 2.4rem;
  }
  .mailingListContainer p {
    width: 500px;
    margin: 50px auto 70px;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .mailingListContainer form input[type="text"] {
    width: 400px;
    font-size: 1.1rem;
  }
  .mailingSignUp {
    width: 100px;
    font-size: 0.8rem;
  }

  /* FOR THE FOOTER */
  footer {
    padding: 0 20px 20px;
    background: rgba(240, 240, 240, 0.4);
  }
  .footerMainContainer {
    background: rgba(255, 255, 255, 1);
  }
  .footerLogoContainer {
    margin: 10px auto 20px;
  }
  .leftLine,
  .rightLine {
    background: rgba(200, 200, 200, 1);
  }
  .footerPrincipalSection {
    display: flex;
  }
}
@media screen and (min-width: 990px) {
  /* FOR THE NAVBAR */
  .navItem,
  .subItem li a,
  .subItem li a i {
    font-size: 0.9rem;
  }
  .socialIcons a i {
    font-size: 1.4rem;
  }

  /* FOR THE MENU */
  .blogTitle,
  .contactTitle,
  .locationTitle,
  .menuTitle {
    font-size: 6rem;
  }
  .menuContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .menuPrincipalSection {
    width: 40%;
  }
  .menuPrincipalSection:first-of-type {
    margin-top: 0;
  }
  .coldBrewSubTitle {
    margin-top: 50px;
  }

  /* FOR THE LOCATION AND BLOG */
  .blogDescription,
  .locationDescription {
    margin: 0 auto 60px;
  }
  .blogsContainer,
  .shopsLocationContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .blogContainer,
  .shopLocationContainer {
    width: 47.5%;
    margin-bottom: 40px;
  }
  .blogContainer:last-of-type,
  .shopLocationContainer:last-of-type {
    margin-bottom: 40px;
  }
  .locationAddress {
    width: 85%;
  }
  .locationName a {
    font-size: 2.4rem;
  }
  .locationAddressContainer {
    padding: 30px 30px;
    height: 250px;
  }
  .locationWeekend,
  .locationWeekDay {
    width: 41%;
    margin: 0 10px 40px;
  }
  .weekendsTime,
  .weekDaysTime {
    font-size: 1.3rem;
  }
  .blogName a {
    font-size: 2rem;
  }
  .blogText {
    margin: 20px auto 15px;
  }

  /* FOR THE ARTICLE */
  .article4MainPhoto,
  .article3MainPhoto,
  .article1MainPhoto,
  .article2MainPhoto {
    width: 950px;
    height: 500px;
    margin: 0 auto;
  }
  .articleMainContainer {
    padding: 0 40px 90px;
  }
  .articleTitle {
    font-size: 4rem;
  }

  /* FOR THE CONTACT */
  .contactContainer {
    width: 900px;
    margin: 50px auto 60px;
  }
  .contactTextArea {
    height: 250px;
  }
  .contactGrid {
    margin-top: 70px;
  }

  /* FOR THE RETURN POLICY */
  .returnPolicyMainContainer {
    background-color: rgba(220, 220, 220, 0.2);
  }
  .returnPolicySecondContainer {
    width: 950px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 1);
  }
  .returnPolicyPicture {
    width: 100%;
  }
  .returnPolicyContainer {
    width: 100%;
    padding: 20px 40px 60px;
  }
  .returnPolicyContainer p {
    width: 750px;
    margin: 0 auto 30px;
  }

  /* FOR THE MAILING LIST */
  .mailingListContainer h1 {
    font-size: 2.7rem;
  }
  .mailingListContainer form {
    width: 900px;
  }

  /* FOR THE FOOTER */
  .footerContainer {
    width: 900px;
  }
  .footerLogoContainer {
    width: 850px;
  }
}
@media screen and (min-width: 1200px) {
  /* FOR THE MENU */
  .menuContainer {
    width: 1000px;
  }
  /* FOR THE LOCATION AND BLOG */
  .blogsContainer,
  .shopsLocationContainer {
    width: 1070px;
  }
  .blogDescription,
  .locationDescription {
    width: 750px;
  }
  .blogText {
    margin: 30px auto 15px;
  }
}
.content {
  width: 100%;
  height: 100vh;
  background: #000;
}
