* {
  font-size: 16px;
  font-family: "Cormorant Garamond", serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
body.noScroll {
  height: 100vh;
  overflow-y: hidden;
}

/* ============================================================
                    BACKDROP OPEN NAVIGATION
=============================================================== */
.backdrop {
  position: fixed;
  top: -2000px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: background 0.5s ease-in-out;
}
.backdrop.activeMainBar {
  top: 0;
  background: rgba(70, 70, 70, 0.8);
  transition: background 0.5s ease-in-out;
}

/* ============================================================
                    NAVIGATION BAR
=============================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  transition: top 0.5s;
}
.visibleNavBar {
  position: relative;
  width: 100%;
  height: 85px;
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hamburgerMenuContainer {
  position: relative;
  width: 44px;
  height: 44px;
  margin-left: 10px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburgerMiddleBar {
  position: relative;
  width: 50%;
  height: 2px;
  border-radius: 2px;
  background: rgba(157, 132, 96, 1);
  transition: all 0.5s;
}
.hamburgerMiddleBar::after,
.hamburgerMiddleBar::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: rgba(157, 132, 96, 1);
}
.hamburgerMiddleBar::before {
  transform: translateY(-6px);
  transition: transform 0.5s;
}
.hamburgerMiddleBar::after {
  transform: translateY(6px);
  transition: transform 0.5s;
}
.hamburgerMenuContainer.openNav .hamburgerMiddleBar {
  transform: translateX(-50px);
  transition: transform 0.5s;
}
.hamburgerMenuContainer.openNav .hamburgerMiddleBar:before {
  transform: translateX(50px) rotate(45deg);
  transition: transform 0.5s;
}
.hamburgerMenuContainer.openNav .hamburgerMiddleBar:after {
  transform: translateX(50px) rotate(-45deg);
  transition: transform 0.5s;
}
.hamburgerMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  cursor: pointer;
  background: transparent;
  z-index: 1;
}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 80px;
  opacity: 0.8;
  background: url("./images/goatLogo.jpg") no-repeat center;
  background-size: cover;
}
.shoppingCartLogoContainer {
  width: 55px;
  height: 44px;
  margin-right: 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.shoppingCartLogo i {
  font-size: 1.2rem;
  color: rgba(70, 70, 70, 1);
}
.itemsCounterIcon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 1);
  background: rgba(157, 132, 96, 1);
}
.hidingNavBar {
  position: absolute;
  top: -300px;
  left: 0;
  width: 100%;
  z-index: -1;
  transition: top 0.5s ease-in-out;
}
.hidingNavBar.activeMainBar {
  top: 85px;
  transition: top 0.5s ease-in-out;
}
.navBarList {
  width: 100%;
  margin: 0;
  padding: 15px 22px 0 22px;
  list-style: none;
  background: rgba(255, 255, 255, 1);
}
.navItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 0;
  font-size: 0.9rem;
  letter-spacing: 1.3px;
  color: rgba(160, 160, 160, 1);
  cursor: pointer;
  border-bottom: 1px solid rgba(234, 234, 234, 1);
  transition: all 0.5s;
}
.subItem li a i,
.navItem i {
  display: inline-block;
  font-size: 0.8rem;
  color: rgba(160, 160, 160, 1);
  transition: color 0.5s;
}
.navItem.rotateArrow i {
  transform: rotate(90deg);
  transition: transform 0.1s;
}
.subItem {
  list-style: none;
  display: none;
}
.subItem.activeSubBar {
  display: flex;
  flex-direction: column;
}
.subItem li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 0;
  font-size: 0.9rem;
  letter-spacing: 1.3px;
  text-decoration: none;
  color: rgba(160, 160, 160, 1);
  border-bottom: 1px solid rgba(234, 234, 234, 1);
  transition: all 0.5s;
}
.navItem:hover,
.subItem li a:hover {
  padding-left: 10px;
  color: rgba(157, 132, 96, 1);
  transition: all 0.5s;
}
.socialIcons a:hover i,
.subItem li a:hover i,
.navItem:hover i {
  color: rgba(157, 132, 96, 1);
  transition: color 0.5s;
}
.socialIcons {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialIcons a {
  width: 44px;
  height: 44px;
  margin: 0 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialIcons a i {
  font-size: 1.2rem;
  color: rgba(160, 160, 160, 1);
  transition: color 0.5s;
}

/* ============================================================
              HOME PAGE/COFFEE PAGE AND GIFTS PAGE
=============================================================== */
.giftsPageBackgroundContainer,
.giftsPageMainContainer,
.coffeePageBackgroundContainer,
.coffeePageMainContainer,
.homePageBackgroundContainer,
.homePageMainContainer {
  width: 100%;
  height: 100%;
}
.homePageContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.homeBackgroundImage {
  position: relative;
  width: 100%;
}
.homeBanner {
  display: none;
}
.bestSellerPicture,
.homePicture {
  display: block;
  width: 100%;
}
.homeBestSellerContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 90%;
  width: 50%;
  transform: translate(-50%, 90px);
  z-index: 1;
}
.bestSellerPicture {
  height: 100%;
}
.homeBestSellerDescriptionContainer {
  flex-grow: 1;
  width: 100%;
  padding: 20px 0 40px;
  text-align: center;
}
.bestSellerTitle {
  width: 85%;
  margin: 60px auto 0;
  line-height: 1.1;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  color: rgba(70, 70, 70, 1);
}
.bestSellerSubtitle {
  width: 85%;
  margin: 25px auto 40px;
  line-height: 1.5;
  font-weight: 200;
  color: rgba(140, 140, 140, 1);
}
.viewProduct,
.viewCoffeeButton {
  display: inline-block;
  padding: 25px 40px;
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: rgba(255, 255, 255, 1);
  background: rgba(157, 132, 96, 1);
  transition: background 0.5s;
}
.viewProduct:hover,
.viewCoffeeButton:hover {
  background: rgba(70, 70, 70, 1);
  transition: background 0.5s;
}
.viewProduct i,
.viewCoffeeButton i {
  font-size: 0.6rem;
  margin-left: 5px;
}
.ideaDescriptionMainContainer {
  width: 100%;
  background: rgba(220, 220, 220, 0.3);
}
.ideaDescriptionContainerStory,
.ideaDescriptionContainer {
  width: 100%;
  padding: 40px 0;
  line-height: 1.5;
}
.ideaTitle span,
.ideaTitle {
  width: 80%;
  margin: 0 auto;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  color: rgba(70, 70, 70, 1);
}
.ideaTitle span {
  width: 0;
  padding-bottom: 5px;
  border-bottom: 5px solid rgba(157, 132, 96, 1);
}
.ideaDescription {
  width: 80%;
  margin: 30px auto 0;
  text-align: justify;
  color: rgba(140, 140, 140, 1);
}
.featured {
  margin: 40px 0 0;
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
  font-family: "Playfair Display", serif;
}
.giftsPageItemsContainer,
.coffeePageItemsContainer,
.featuredItemsContainer {
  width: 100%;
  padding: 10px 0 0;
}
.giftsPageItemContainer,
.coffeePageItemContainer,
.featuredItemContainer {
  padding: 0 0 60px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(220, 220, 220, 1);
}
.giftsPageItemContainer:last-of-type,
.coffeePageItemContainer:last-of-type,
.featuredItemContainer:last-of-type {
  border-bottom: 1px solid rgba(220, 220, 220, 0.2);
}
.giftsPagePhotoLink,
.coffeePagePhotoLink,
.featuredPhotoLink {
  display: inline-block;
}
.giftsPagePhotoLink img,
.coffeePagePhotoLink img,
.featuredPhotoLink img {
  display: block;
  margin: 40px auto 20px;
  width: 230px;
  height: 280px;
}
.itemName {
  font-weight: 500;
  font-size: 1.3rem;
}
.itemPrice {
  margin: 10px 0 35px;
  font-weight: 500;
  font-size: 1.4rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* ============================================================
                        SELECTION PAGE
=============================================================== */
.coffeeSelectionBackgroundContainer {
  width: 100%;
}
.coffeeSelectionMainContainer {
  width: 100%;
  padding-bottom: 60px;
}
.coffeeSelectionSecondContainer {
  width: 100%;
}
.coffeeSelectionPictureContainer {
  padding: 120px 0 0;
  background: linear-gradient(rgba(220, 220, 220, 0.6), rgba(255, 255, 255, 1));
}
.coffeeSelectionPictureContainer img {
  display: block;
  width: 80%;
  margin: 0 auto;
}
.coffeeSelectionDescriptionContainer {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
.beanPrice,
.coffeeSelectionTitle {
  width: 100%;
  margin: 0 auto;
  font-size: 2.2rem;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  color: rgba(70, 70, 70, 1);
}
.coffeeSelectionSubtitle {
  width: 100%;
  margin: 30px auto 20px;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(160, 160, 160, 1);
}
.beanPrice {
  margin-bottom: 35px;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.weightSelection {
  width: 80px;
  height: 50px;
  font-size: 1.1rem;
  font-weight: lighter;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(240, 240, 240, 1);
  border: none;
}
.beanType {
  margin: 45px auto;
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selectBean {
  width: 110px;
  height: 130px;
  margin: 0;
  padding: 15px 0;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: border 0.3s;
}
.wholeBean {
  background: rgba(240, 240, 240, 1);
}
.selectBean img {
  display: block;
  width: 75%;
}
.wholeBean:hover,
.ground:hover {
  border: 1px solid rgba(240, 240, 240, 1);
  transition: border 0.3s;
}
.beanDescription {
  display: block;
  margin-top: 5px;
  font-size: 0.7rem;
  font-weight: bolder;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: rgba(0, 0, 0, 0.8);
}
.cardRelated {
  width: 290px;
  margin: 5px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardItemsAdded {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(200, 200, 200, 1);
  font-size: 1.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  -moz-appearance: textfield;
}
.cardItemsAdded:focus {
  -moz-appearance: none;
}
.addCoffeeToCard {
  height: 70px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 1.2px;
  color: rgba(255, 255, 255, 1);
  background: rgba(157, 132, 96, 1);
  transition: background 0.5s;
}
.addCoffeeToCard:hover {
  background: rgba(70, 70, 70, 1);
  transition: background 0.5s;
}

/* ============================================================
                BACKDROP OPEN CART POPUP
=============================================================== */
.backdropPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background: rgba(70, 70, 70, 0.8);
  display: none;
}
.backdropPopup.PopupOpen {
  display: block;
  background: rgba(70, 70, 70, 0.8);
}

/* ============================================================
                          CART POPUP
=============================================================== */
.coffeeAddedContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background: rgba(70, 70, 70, 1);
  display: flex;
  flex-direction: column;
  display: none;
}
.textAddedToCart {
  width: 90%;
  margin: 20px auto 5px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  color: rgba(255, 255, 255, 1);
}
.exitContainerSymbol {
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: rgba(83, 83, 83, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s;
}
.exitContainerSymbol i {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 1);
  transition: color 0.5s;
}
.exitContainerSymbol:hover {
  background: rgba(255, 255, 255, 1);
  transition: background 0.5s;
}
.exitContainerSymbol:hover i {
  color: rgba(70, 70, 70, 1);
  transition: color 0.5s;
}
.popupContainer {
  width: 90%;
  margin: 0 auto;
}
.popupImage {
  display: none;
}
.popupDescriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cartSubtotal,
.popupUnderline,
.coffeeSizeAdded,
.coffeeTypeAdded {
  display: none;
}
.coffeeNameAdded {
  display: block;
  margin: 20px 0 10px;
  font-size: 1.1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
}
.priceQuantityAdded,
.priceQuantityAdded span {
  font-weight: 300;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgba(160, 160, 160, 1);
}
.operationAvailable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 30px auto 20px;
}
.operationAvailable a {
  display: inline-block;
  font-size: 0.7rem;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.viewCheckout {
  padding: 18px 44px;
  color: rgba(70, 70, 70, 1);
  background: rgba(255, 255, 255, 1);
  transition: all 0.5s;
}
.viewCart {
  padding: 16px 42px;
  border: 2px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  transition: all 0.5s;
}
.viewCheckout:hover {
  background: rgba(157, 132, 96, 1);
  color: rgba(255, 255, 255, 1);
  transition: all 0.5s;
}
.viewCart:hover {
  background: rgba(255, 255, 255, 1);
  color: rgba(70, 70, 70, 1);
  transition: all 0.5s;
}

/* ============================================================
                          CART PAGE
=============================================================== */
.cartItems,
.cartMainContainer,
.cartBackgroundContainer {
  width: 100%;
}
.cartInformations {
  width: 85%;
  margin: 0 auto;
  padding: 20px 0 60px;
}
.cartTopBorder {
  display: none;
}
.cartItem {
  width: 100%;
  margin-bottom: 90px;
}
.cartItemPhotoContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 0 30px;
  border-bottom: 2px solid rgba(220, 220, 220, 0.5);
  border-radius: 2px;
}
.cartItemPhotoContainer img {
  width: 30%;
}
.removeCartItem {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 10px 15px;
  text-align: center;
  border: 1px solid rgba(220, 220, 220, 1);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.removeCartItem i {
  font-size: 0.8rem;
  color: rgba(70, 70, 70, 1);
  transition: color 0.3s ease;
}
.removeCartItem:hover {
  background: rgba(70, 70, 70, 1);
  border: 1px solid rgba(70, 70, 70, 1);
  transition: all 0.3s ease;
}
.removeCartItem:hover i {
  color: rgba(255, 255, 255, 1);
  transition: color 0.3s ease;
}
.cartItemProductContainer {
  padding: 30px 0;
  border-bottom: 2px solid rgba(220, 220, 220, 0.5);
  border-radius: 2px;
}
.cartProductName {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  color: rgba(157, 132, 96, 1);
}
.cartProductSize,
.cartProductType {
  margin: 10px 0 0;
  font-weight: bolder;
  color: rgba(70, 70, 70, 1);
}
.cartProductSize {
  margin-top: 3px;
}
.cartProductType span {
  margin-left: 5px;
  font-weight: 600;
  color: rgba(70, 70, 70, 1);
}
.cartProductSize span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.9rem;
  font-weight: lighter;
  color: rgba(70, 70, 70, 1);
}
.cartItemsSubtotalContainer,
.cartItemQuantityContainer,
.cartItemPriceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 2px solid rgba(220, 220, 220, 0.5);
  border-radius: 2px;
}
.cartItemsSubtotalContainer {
  padding: 0 0 30px;
}
.cartItemQuantityContainer {
  align-items: flex-start;
}
.cartItemsSubtotalContainer p,
.cartItemQuantityContainer p,
.cartItemPriceContainer p {
  margin: 0;
  font-weight: 500;
  font-family: "Playfair Display", serif;
}
.cartItemsSubtotal,
.cartItemPrice {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: lighter;
  color: rgba(70, 70, 70, 1);
}
.cartItemQuantity {
  width: 60px;
  height: 50px;
  border: 1px solid rgba(200, 200, 200, 1);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  -moz-appearance: textfield;
}
.cartItemQuantity:focus {
  -moz-appearance: none;
}
/* ============================================================
                  OUR STORY AND OUR PROCESS
=============================================================== */
.ourProcessMainContainer,
.ourProcessBackgroundContainer,
.ourStoryMainContainer,
.ourStoryBackgroundContainer {
  width: 100%;
}
.ourStoryMainContainer {
  padding-bottom: 60px;
}
.ourProcessMainPicture,
.ourStoryMainPicture {
  width: 100%;
  position: relative;
}
.ourProcessMainPicture img,
.ourStoryMainPicture img {
  display: block;
  width: 100%;
}
.ourProcessTitle,
.ourStoryTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -40%);
  text-align: center;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  font-size: 3rem;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  color: rgba(255, 255, 255, 1);
}
.ourProcessTitle {
  transform: translate(-50%, -60%);
}
.factsDescriptionMainContainer {
  padding: 30px 0 40px;
  text-align: justify;
  background: rgba(220, 220, 220, 0.3);
}
.factsTitle {
  width: 85%;
  margin: 0 auto 20px;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  color: rgba(70, 70, 70, 1);
}
.factsDescription {
  width: 85%;
  margin: 0 auto;
  line-height: 1.5;
  color: rgba(140, 140, 140, 1);
}
.ourProcessDescriptionContainer,
.ourStoryDescriptionContainer {
  width: 85%;
  margin: 0 auto;
}
.ourProcessDescriptionContainer {
  padding: 20px 0;
}
.ourProcessPicturesContainer,
.ourStoryPicturesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourProcessPicturesContainer {
  margin: 40px auto;
}
.ourProcessFirstPicture {
  margin: 30px auto 40px;
}
.ourStoryThirdPicture,
.ourProcessSecondPicture {
  margin: 0 auto 30px;
}
.ourProcessThirdPicture {
  margin: 0 auto;
}
.ourStoryFirstPicture {
  margin: 30px 0 0 0;
}
.ourStorySecondPicture {
  margin: 30px 0 30px;
}
.ourProcessThirdPicture img,
.ourProcessSecondPicture img,
.ourProcessFirstPicture img,
.ourStoryThirdPicture img,
.ourStorySecondPicture img,
.ourStoryFirstPicture img {
  display: block;
  width: 100%;
}
.processSteps {
  padding: 0 0 0 25px;
}
.processStep,
.processText,
.storyText {
  margin: 0 auto 30px;
  text-align: justify;
  line-height: 1.5;
  color: rgba(70, 70, 70, 1);
}
.processStep {
  margin: 0 auto 20px;
}
.processTitle,
.processSubtitle,
.storySubtitle {
  margin: 0 auto 10px;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Playfair Display", serif;
  color: rgba(70, 70, 70, 1);
}
.processTitle {
  font-size: 1.5rem;
}
.processStep {
  margin: 0 auto 20px;
}
.processStep:last-of-type {
  margin: 0;
}
/* ============================================================
                           MENU
=============================================================== */
.menuBackgroundContainer {
  width: 100%;
}
.menuMainContainer {
  width: 100%;
}
.cartTitle,
.giftsPageTitle,
.coffeePageTitle,
.menuTitle,
.locationTitle,
.contactTitle,
.blogTitle {
  width: 100%;
  margin: 0 auto;
  padding: 95px 0 20px;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  color: rgba(70, 70, 70, 1);
  background: linear-gradient(rgba(220, 220, 220, 0.6), rgba(255, 255, 255, 1));
}
.menuContainer {
  width: 100%;
  margin: 35px 0 90px;
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.menuPrincipalSection {
  width: 80%;
  margin: 5px auto;
  border-bottom: 1px solid rgba(200, 200, 200, 1);
}
.menuSubTitle {
  margin: 50px 0 30px;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: rgba(157, 132, 96, 1);
}
.coldBrewSubTitle {
  margin-top: 0px;
}
.menuSubSection {
  width: 100%;
  padding: 5px 0;
  border-top: 1px solid rgba(200, 200, 200, 1);
}
.subSectionItemName {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(70, 70, 70, 1);
}
.menuItemPrice {
  margin-left: 10px;
  font-size: 1.2rem;
  font-weight: lighter;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgba(70, 70, 70, 1);
}
.subSectionDescription {
  margin: 10px 0;
  font-size: 0.9rem;
  font-style: italic;
  letter-spacing: 1.1px;
  color: rgba(140, 140, 140, 1);
}

/* ============================================================
                    LOCATION AND BLOG
=============================================================== */
.blogBackgroundContainer,
.locationBackgroundContainer {
  width: 100%;
  padding-bottom: 90px;
}
.mainBlogContainer,
.locationContainer {
  width: 85%;
  margin: 0 auto;
}
.blogsContainer,
.shopsLocationContainer {
  width: 100%;
}
.blogContainer,
.shopLocationContainer {
  width: 100%;
  margin-bottom: 60px;
}
.blogContainer:last-of-type,
.shopLocationContainer:last-of-type {
  margin-bottom: 0px;
}
.blogDescription,
.locationDescription {
  width: 65%;
  margin: 0 auto 40px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  color: rgba(70, 70, 70, 1);
  display: none;
}
.pictureblogTag,
.pictureLocationTag {
  display: block;
  width: 100%;
}
.blogPicture,
.locationPicture {
  display: block;
  width: 100%;
  cursor: pointer;
}
.blogTextContainer,
.locationAddressContainer {
  width: 100%;
  height: 220px;
  padding: 20px 0 30px;
  text-align: center;
  background: rgba(243, 243, 243, 1);
}
.locationName {
  width: 100%;
  margin: 0;
}
.blogName a,
.locationName a {
  display: block;
  width: 85%;
  margin: 0 auto;
  font-size: 2.1rem;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  letter-spacing: 1.2px;
  text-decoration: none;
  color: rgba(157, 132, 96, 1);
  transition: color 0.5s;
}
.blogName a:hover,
.locationName a:hover {
  color: rgba(70, 70, 70, 1);
  transition: color 0.5s;
}
.blogText,
.locationAddress {
  width: 85%;
  margin: 20px auto 15px;
  line-height: 1.5;
  color: rgba(70, 70, 70, 1);
}
.locationPhoneNumber {
  display: block;
  text-decoration: none;
  color: rgba(70, 70, 70, 1);
}
.readMoreContainer,
.locationOpenHoursContainer {
  width: 100%;
  padding: 30px 0;
  text-align: center;
  background: rgba(230, 230, 230, 1);
}
.locationHoursSubContainer {
  width: 100%;
}
.locationWeekDay {
  width: 85%;
  margin: 0 auto;
}
.locationWeekend {
  width: 85%;
  margin: 30px auto 40px;
}
.weekendsTime,
.weekDaysTime {
  margin: 0;
  font-weight: 600;
  font-family: "Playfair Display", serif;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: rgba(70, 70, 70, 1);
}
.openHoursWeekDays,
.openHoursWeekends {
  color: rgba(70, 70, 70, 1);
}
.openHoursWeekends {
  line-height: 2;
}
.viewMoreButton,
.viewDetailsButton {
  display: inline-block;
  width: 190px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 1);
  background: rgba(157, 132, 96, 1);
  transition: background 0.5s;
}
.viewMoreButton i,
.viewDetailsButton i {
  font-size: 0.6rem;
  margin-left: 5px;
  color: rgba(255, 255, 255, 1);
}
.viewMoreButton {
  width: 170px;
}
.viewMoreButton:hover,
.viewDetailsButton:hover {
  background: rgba(70, 70, 70, 1);
  transition: background 0.5s;
}
.blogTextContainer {
  height: 270px;
}
.blogName a {
  font-size: 2rem;
}
.blogDate {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
  color: rgba(70, 70, 70, 1);
}
.readMoreContainer {
  padding: 10px 0 30px;
}

/* ============================================================
                         ARTICLE
=============================================================== */
.articleBackgroundContainer {
  width: 100%;
}
.articleMainContainer {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 60px;
}
.article4MainPhoto,
.article3MainPhoto,
.article1MainPhoto,
.article2MainPhoto {
  width: 100%;
}
.article1MainPhoto img,
.article2MainPhoto img,
.article3MainPhoto img,
.article4MainPhoto img {
  width: 100%;
}
.articleDate {
  display: block;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Playfair Display", serif;
}
.articleTitle {
  width: 85%;
  margin: 10px auto 35px;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  color: rgba(157, 132, 96, 1);
}
.articleMainContainer p {
  width: 85%;
  margin: 0 auto 30px;
  text-align: justify;
  line-height: 1.5;
  color: rgba(70, 70, 70, 1);
}
.articleSubtitle {
  display: block;
  width: 85%;
  margin: 0 auto 10px;
  font-weight: 600;
  font-family: "Playfair Display", serif;
  color: rgba(0, 0, 0, 0.8);
}
.nextArticle {
  display: block;
  width: 160px;
  padding: 20px 0;
  margin: 60px auto 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 1);
  background: rgba(157, 132, 96, 1);
  transition: background 0.5s;
}
.nextArticle:hover {
  background: rgba(70, 70, 70, 1);
  transition: background 0.5s;
}
.nextArticle i {
  font-size: 0.6rem;
  margin-left: 5px;
  color: rgba(255, 255, 255, 1);
}
/* ============================================================
                          CONTACT
=============================================================== */
.contactBackgroundContainer {
  width: 100%;
}
.contactMainContainer {
  width: 100%;
}
.contactContainer {
  width: 85%;
  margin: 30px auto 60px;
}
.contactInformation {
  width: 100%;
  line-height: 1.5;
  color: rgba(70, 70, 70, 1);
}
.contactInformation span {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 1.3rem;
  font-weight: 800;
}
.contactInformation .contactPhone {
  text-decoration: none;
  color: rgba(70, 70, 70, 1);
}
.contactQuestions {
  margin: 30px 0;
  line-height: 1.5;
}
.contactQuestions a {
  position: relative;
  text-decoration: none;
  color: rgba(157, 132, 96, 1);
  transition: color 0.5s;
}
.contactQuestions a:hover {
  color: rgba(70, 70, 70, 1);
  transition: color 0.5s;
}
.contactQuestions a:before {
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 1px;
  width: 0%;
  content: "";
  background: rgba(157, 132, 96, 1);
  transition: width 0.2s ease-in;
}
.contactQuestions a:hover:before {
  width: 100%;
  transition: width 0.2s ease-in;
}
.contactGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 35px;
  margin-top: 50px;
}
.contactSection {
  position: relative;
  width: 100%;
  height: 35px;
  border: 1px solid rgba(200, 200, 200, 1);
}
.contactTextArea {
  position: relative;
  height: 150px;
}
.contactTextArea textarea,
.contactSection input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-size: 0.8rem;
  font-family: "Playfair Display", serif;
  color: rgba(70, 70, 70, 1);
  border: none;
  background: transparent;
  z-index: 1;
}
.contactTextArea textarea {
  padding: 10px 10px;
  line-height: 1.5;
  resize: none;
}
.contactSection .sectionTitle {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-size: 0.8rem;
  font-family: "Playfair Display", serif;
  letter-spacing: 1.1px;
  margin: -23px 0 0 -1px;
  transition: margin 0.5s;
}
.contactSection .sectionBorder {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0%;
  height: 2px;
  border-radius: 2px;
  background: rgba(157, 132, 96, 1);
  transition: width 1s;
}
.contactSection textarea:focus ~ .sectionBorder,
.contactSection input:focus ~ .sectionBorder {
  width: 100%;
  transition: width 1s;
}
.contactButtonContainer {
  text-align: right;
}
.contactSendButton {
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 0.7rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  background: rgba(157, 132, 96, 1);
  border: none;
  border-radius: 0;
  transition: background 0.5s;
  -webkit-appearance: none;
}
.contactSendButton:hover {
  background: rgba(70, 70, 70, 1);
  transition: background 0.5s;
}
/* ============================================================
                        RETURN POLICY 
=============================================================== */
.returnPolicyBackgroundContainer {
  width: 100%;
  height: 100vh;
}
.returnPolicyMainContainer,
.returnPolicyDescriptionContainer {
  width: 100%;
  height: 100%;
}
.returnPolicyPicture {
  width: 100%;
}
.returnPolicyPicture img {
  display: block;
  width: 100%;
}
.returnPolicyTitle {
  width: 100%;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  font-size: 2.9rem;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  color: rgba(70, 70, 70, 1);
  background: linear-gradient(rgba(220, 220, 220, 1), rgba(255, 255, 255, 1));
}
.returnPolicyContainer {
  width: 80%;
  margin: 0 auto;
}
.returnPolicyDescription {
  width: 100%;
  text-align: justify;
  line-height: 1.5;
  color: rgba(70, 70, 70, 1);
}
/* ============================================================
                         MAILING LIST
=============================================================== */
.mailingListContainer {
  position: relative;
  width: 100%;
  height: 400px;
  padding: 20px 0;
  background: rgba(220, 220, 220, 0.3);
}
.mailingListContainer:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: url("./images/goatBackground.png") no-repeat center;
  background-size: 400px;
  z-index: -1;
}
.mailingListContainer h1 {
  width: 100%;
  margin: 60px auto 0;
  text-align: center;
  font-size: 2.1rem;
  font-weight: lighter;
  font-family: "Playfair Display", serif;
  letter-spacing: 1.1px;
  color: rgba(70, 70, 70, 1);
}
.mailingListContainer p {
  width: 88%;
  margin: 30px auto 40px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1.1px;
  color: rgba(140, 140, 140, 1);
}
.mailingListContainer form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88%;
  height: 50px;
  margin: 0 auto;
}
.mailingListContainer form input[type="text"] {
  width: 250px;
  height: 100%;
  padding: 0 20px;
  font-size: 0.9rem;
  letter-spacing: 1.1px;
  border: none;
  color: rgba(140, 140, 140, 1);
  background: rgba(255, 255, 255, 0.8);
}
.mailingListContainer form input[type="submit"] {
  width: 85px;
  height: 100%;
  font-size: 0.7rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.1px;
  border: none;
  border-radius: 0;
  background: rgba(157, 132, 96, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: background 0.5s;
  -webkit-appearance: none;
}
.mailingListContainer form input[type="submit"]:hover {
  background: rgba(70, 70, 70, 1);
  transition: background 0.5s;
}
/* ============================================================
                           FOOTER
=============================================================== */
footer {
  width: 100%;
}
.footerMainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footerLogoContainer {
  width: 85%;
  margin: 10px auto 0;
  display: flex;
  align-items: center;
}
.leftLine,
.rightLine {
  width: 50%;
  height: 1px;
  border-radius: 2px;
  background: transparent;
}
.footerLogo {
  display: block;
  width: 120px;
  height: 80px;
  background: url("./images/goatLogo.jpg") no-repeat center;
  background-size: cover;
}
.footerContainer {
  width: 90%;
  margin: 0 auto;
}
.footerPrincipalSection {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin-bottom: 30px;
  display: none;
}
.footerSubSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.subSectionTitle {
  margin: 0 0 20px;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1.1px;
  color: rgba(70, 70, 70, 1);
}
.footerSubSection a {
  font-size: 1.1rem;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 2;
  color: rgba(157, 132, 96, 1);
  transition: color 0.5s;
}
.footerSubSection a:hover {
  color: rgba(70, 70, 70, 1);
  transition: color 0.5s;
}
.footerSocialIcons {
  width: 80%;
  margin: 30px auto;
  text-align: center;
}
.footerSocialIcons a {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 7px;
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid rgba(160, 160, 160, 1);
  transition: all 0.5s;
}
.footerSocialIcons i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  color: rgba(70, 70, 70, 1);
  transition: color 0.5s;
}
.footerSocialIcons a:hover {
  border: 1px solid transparent;
  background: rgba(157, 132, 96, 1);
  transition: all 0.5s;
}
.footerSocialIcons a:hover i {
  color: rgba(255, 255, 255, 1);
  transition: color 0.5s;
}
.footerRigths {
  width: 80%;
  margin: 0 auto 30px;
  text-align: center;
  font-size: 0.8rem;
  color: rgba(70, 70, 70, 1);
}
/* ============================================================
                           FADE IN
=============================================================== */
.fadeIn {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease-in-out;
}
.fadeIn.appear {
  opacity: 1;
  transform: translateY(0);
}

/* ============================================================
                           MEDIA QUERIE
=============================================================== */
@media screen and (min-width: 435px) {
  /*FOR THE HOME PAGE */
  .homePageContainer {
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  /* FOR THE NAVBAR */
  .visibleNavBar {
    height: 120px;
  }
  .hidingNavBar.activeMainBar {
    top: 120px;
  }
  .logo {
    width: 120px;
    height: 120px;
    opacity: 0.8;
    background: url("./images/longLogo.jpeg") no-repeat center;
    background-size: cover;
  }
  .subItem li a,
  .navItem {
    font-size: 1rem;
  }
  .socialIcons a i {
    font-size: 1.4rem;
  }

  /* FOR THE HOME PAGE/COFFEE PAGE AND GIFTS PAGE */
  .cartMainContainer,
  .coffeeSelectionMainContainer,
  .giftsPageMainContainer,
  .coffeePageMainContainer,
  .homePageMainContainer {
    width: calc(100% - 40px);
    margin: 0 auto;
    background: rgba(255, 255, 255, 1);
  }
  .homeBackgroundImage:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }
  .homeBestSellerContainer {
    bottom: -135px;
    left: 25px;
    transform: translate(0, 0);
  }
  .homeBestSellerDescriptionContainer {
    position: absolute;
    bottom: 15px;
    right: 5px;
    width: 50%;
    height: 55%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .bestSellerTitle {
    margin: 0 0 20px;
    font-size: 2.2rem;
    font-weight: 900;
    text-align: justify;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  }
  .bestSellerSubtitle {
    margin: 5px 0 15px 0;
    font-size: 1.2rem;
    font-weight: 900;
    text-align: justify;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  }
  .ideaDescriptionContainer {
    padding: 120px 0 90px;
  }
  .ideaTitle span,
  .ideaTitle {
    font-size: 2.2rem;
  }
  .ideaDescription {
    margin: 50px auto 0;
    font-size: 1.2rem;
  }
  .coffeePageItemsContainer,
  .featuredItemsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding: 20px 20px 40px;
  }
  .giftsPageItemsContainer {
    width: 420px;
    margin: 0 auto;
    padding: 20px 20px 40px;
  }
  .giftsPageItemContainer,
  .giftsPageItemContainer:last-of-type,
  .coffeePageItemContainer,
  .coffeePageItemContainer:last-of-type,
  .featuredItemContainer:last-of-type,
  .featuredItemContainer {
    border: 1px solid transparent;
    transition: border 0.3s ease-out;
    overflow-y: hidden;
  }
  .giftsPagePhotoLink,
  .coffeePagePhotoLink,
  .featuredPhotoLink {
    scale: 1;
    transition: scale 0.3s ease;
  }
  .viewProduct {
    transform: translateY(15px);
    opacity: 0;
    transition: all 0.5s ease-out;
  }
  .giftsPageItemContainer:hover,
  .coffeePageItemContainer:hover,
  .featuredItemContainer:hover {
    border: 1px solid rgba(220, 220, 220, 1);
    transition: border 0.3s ease-out;
  }
  .giftsPageItemContainer:hover .giftsPagePhotoLink,
  .coffeePageItemContainer:hover .coffeePagePhotoLink,
  .featuredItemContainer:hover .featuredPhotoLink {
    scale: 1.05;
    transition: scale 0.3s ease;
  }
  .giftsPageItemContainer:hover .viewProduct,
  .coffeePageItemContainer:hover .viewProduct,
  .featuredItemContainer:hover .viewProduct {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.5s ease-out;
  }

  /* FOR THE SELECTION PAGE */
  .coffeeSelectionMainContainer {
    padding-bottom: 90px;
  }
  .coffeeSelectionPictureContainer {
    padding: 140px 0 10px;
    background: rgba(255, 255, 255, 1);
  }
  .coffeeSelectionPictureContainer img {
    width: 45%;
  }
  .coffeeSelectionDescriptionContainer {
    width: 70%;
  }
  .coffeeSelectionTitle {
    font-size: 3.3rem;
  }
  .coffeeSelectionSubtitle {
    font-size: 1.2rem;
  }
  .beanPrice {
    font-size: 2.5rem;
  }
  .addCoffeeToCard {
    font-size: 0.8rem;
  }

  /* FOR THE CART POP UP */
  .coffeeAddedContainer {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgba(255, 255, 255, 1);
  }
  .textAddedToCart {
    margin: 20px auto 35px;
    font-size: 1.2rem;
    color: rgba(70, 70, 70, 1);
  }
  .exitContainerSymbol {
    background: rgba(220, 220, 220, 0.3);
  }
  .exitContainerSymbol i {
    color: rgba(160, 160, 160, 1);
  }
  .exitContainerSymbol:hover {
    background: rgba(70, 70, 70, 1);
    transition: background 0.5s;
  }
  .exitContainerSymbol:hover i {
    color: rgba(255, 255, 255, 1);
    transition: color 0.5s;
  }
  .popupContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .popupImage {
    display: block;
    width: 31%;
  }
  .popupImage img {
    width: 100%;
    display: block;
  }
  .popupDescriptionContainer {
    width: 100%;
    margin-left: 10px;
    align-items: flex-start;
  }
  .coffeeNameAdded {
    margin: 0 0 5px;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(157, 132, 96, 1);
  }
  .coffeeSizeAdded,
  .coffeeTypeAdded {
    display: block;
    font-size: 1.1rem;
    font-weight: bolder;
    color: rgba(70, 70, 70, 1);
  }
  .coffeeSizeAdded span {
    margin-left: 3px;
    font-weight: lighter;
    font-size: 0.9rem;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .coffeeTypeAdded span {
    margin-left: 3px;
    font-weight: 400;
  }
  .priceQuantityAdded,
  .priceQuantityAdded span {
    margin-top: 8px;
    font-size: 0.9rem;
    font-weight: lighter;
    color: rgba(70, 70, 70, 1);
  }
  .popupUnderline {
    display: block;
    width: 90%;
    height: 2px;
    margin: 30px auto 20px;
    border-radius: 2px;
    background: rgba(220, 220, 220, 0.5);
  }
  .cartSubtotal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto 30px;
  }
  .cartSubtotal p {
    margin: 0;
    color: rgba(70, 70, 70, 1);
  }
  .cartSubtotal span {
    font-weight: bolder;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgba(70, 70, 70, 1);
  }
  .operationAvailable {
    margin: 10px auto 20px;
  }
  .viewCheckout {
    padding: 18px 44px;
    color: rgba(255, 255, 255, 1);
    background: rgba(157, 132, 96, 1);
  }
  .viewCart {
    padding: 16px 42px;
    border: 2px solid rgba(157, 132, 96, 1);
    color: rgba(157, 132, 96, 1);
    transition: all 0.5s;
  }
  .viewCheckout:hover {
    background: rgba(70, 70, 70, 1);
    color: rgba(255, 255, 255, 1);
  }
  .viewCart:hover {
    background: rgba(70, 70, 70, 1);
    border: 2px solid rgba(70, 70, 70, 1);
    color: rgba(255, 255, 255, 1);
  }

  /* FOR THE CART PAGE */
  .cartInformations {
    padding: 20px 0 90px;
  }
  .cartTopBorder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    border-top: 2px solid rgba(220, 220, 220, 0.5);
    border-bottom: 2px solid rgba(220, 220, 220, 0.5);
    border-radius: 2px;
  }
  .cartTopBorder p {
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Playfair Display", serif;
  }
  .rightSpaceBorder {
    width: 30%;
  }
  .productNameBorder {
    width: 15%;
  }
  .cartItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    padding: 20px 0;
    border-bottom: 2px solid rgba(220, 220, 220, 0.5);
    border-radius: 2px;
  }
  .cartItemPhotoContainer {
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    padding: 0;
    border-bottom: none;
  }
  .cartItemPhotoContainer img {
    width: 50%;
    margin-left: 50px;
  }
  .removeCartItem {
    position: relative;
    right: -10px;
  }
  .cartItemProductContainer {
    width: 15%;
    padding: 0;
    border-bottom: none;
  }
  .cartProductSize {
    margin-top: 5px;
  }
  .cartProductType span {
    margin-left: 0;
  }
  .cartItemQuantityContainer,
  .cartItemPriceContainer {
    flex-direction: column;
    padding: 0;
    border-bottom: none;
  }
  .cartItemQuantity {
    width: 70px;
  }
  .cartItemsSubtotalContainer {
    justify-content: flex-end;
    padding: 30px 0 0;
    border: none;
  }
  .cartItemsSubtotalContainer p {
    margin-right: 20px;
    font-size: 1.2rem;
  }
  .cartItemQuantityContainer p,
  .cartItemPriceContainer p {
    display: none;
  }
  .cartItemsSubtotal {
    font-size: 1.2rem;
  }

  /* FOR OUR STORY AND OUR PROCESS */
  .ourProcessMainContainer,
  .ourStoryMainContainer {
    width: calc(100% - 40px);
    margin: 0 auto;
    background: rgba(255, 255, 255, 1);
    padding-bottom: 90px;
  }
  .ourProcessTitle,
  .ourStoryTitle {
    font-size: 5rem;
    transform: translate(-50%, -70%);
  }
  .ideaDescriptionContainerStory {
    padding: 60px 0;
  }
  .factsDescriptionMainContainer {
    padding: 50px 0 60px;
  }
  .factsTitle {
    font-size: 2.2rem;
  }
  .factsDescription {
    font-size: 1.2rem;
  }
  .ourProcessDescriptionContainer {
    padding: 30px 0;
  }
  .ourProcessPicturesContainer,
  .ourStoryPicturesContainer {
    flex-direction: row;
    justify-content: space-between;
  }
  .ourProcessPicturesContainer {
    margin: 40px auto 0;
  }
  .ourProcessFirstPicture {
    margin: 50px auto;
  }
  .ourProcessThirdPicture,
  .ourProcessSecondPicture {
    width: 47%;
    margin: 0;
  }
  .ourStorySecondPicture,
  .ourStoryFirstPicture {
    width: 47%;
    margin: 50px 0 40px;
  }
  .ourStoryThirdPicture {
    margin-bottom: 40px;
  }
  .processText,
  .storyText {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  .processStep {
    margin: 0 auto 30px;
    font-size: 1.2rem;
  }
  .processTitle {
    font-size: 1.8rem;
  }
  .processSubtitle,
  .storySubtitle {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  /* FOR THE MENU */
  .menuBackgroundContainer {
    padding-top: 35px;
    background: rgba(220, 220, 220, 0.3);
  }
  .menuMainContainer {
    width: calc(100% - 40px);
    margin: 0 auto;
    padding-bottom: 90px;
    background: rgba(255, 255, 255, 1);
  }
  .cartTitle,
  .giftsPageTitle,
  .coffeePageTitle,
  .blogTitle,
  .contactTitle,
  .locationTitle,
  .menuTitle {
    width: calc(100% - 40px);
    padding: 110px 0 20px;
    font-size: 5rem;
    background: rgba(255, 255, 255, 1);
  }
  .menuContainer {
    width: 70%;
    margin: 40px auto 0;
    padding-bottom: 50px;
    background: rgba(240, 240, 240, 1);
  }
  .menuPrincipalSection:first-of-type {
    margin-top: 40px;
  }
  .menuSubTitle {
    text-align: left;
  }

  /* FOR THE LOCATION AND BLOG */
  .cartBackgroundContainer,
  .coffeeSelectionBackgroundContainer,
  .giftsPageBackgroundContainer,
  .coffeePageBackgroundContainer,
  .ourStoryBackgroundContainer,
  .returnPolicyBackgroundContainer,
  .contactBackgroundContainer,
  .articleBackgroundContainer,
  .homePageBackgroundContainer,
  .blogBackgroundContainer,
  .locationBackgroundContainer {
    padding: 35px 0 0;
    background: rgba(220, 220, 220, 0.3);
  }
  .mainBlogContainer,
  .locationContainer {
    width: calc(100% - 40px);
    background: rgba(255, 255, 255, 1);
    padding-bottom: 90px;
  }
  .blogsContainer,
  .shopsLocationContainer {
    width: 90%;
    margin: 0 auto;
  }
  .blogDescription,
  .locationDescription {
    display: block;
  }
  .locationName a {
    font-size: 3rem;
  }
  .locationAddressContainer {
    height: 230px;
  }
  .locationPhoneNumber,
  .locationAddress {
    width: 60%;
    font-size: 1.2rem;
  }
  .locationPhoneNumber {
    margin: 0 auto;
  }
  .locationHoursSubContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .locationWeekend,
  .locationWeekDay {
    width: 30%;
    margin: 0 30px 40px;
  }
  .weekendsTime,
  .weekDaysTime,
  .openHoursWeekDays,
  .openHoursWeekends {
    font-size: 1.2rem;
  }
  .viewMoreButton,
  .viewDetailsButton {
    width: 220px;
    font-size: 0.8rem;
  }
  .viewMoreButton i,
  .viewDetailsButton i {
    font-size: 0.7rem;
  }
  .viewMoreButton {
    width: 180px;
  }
  .blogTextContainer {
    height: 280px;
  }
  .blogName a {
    font-size: 2.8rem;
  }
  .blogText {
    font-size: 1.2rem;
    margin: 30px auto 15px;
  }

  /* FOR THE ARTICLE */
  .articleMainContainer {
    width: calc(100% - 40px);
    margin: 0 auto;
    padding: 40px 0 90px;
    background: rgba(255, 255, 255, 1);
  }
  .article4MainPhoto,
  .article3MainPhoto,
  .article1MainPhoto,
  .article2MainPhoto {
    width: 85%;
    margin: 0 auto;
  }
  .articleDate {
    margin-top: 20px;
  }
  .articleTitle {
    margin: 10px auto 45px;
    font-size: 3rem;
  }
  .articleMainContainer p {
    margin: 0 auto 40px;
    font-size: 1.2rem;
  }
  .articleSubtitle {
    margin: 0 auto 15px;
    font-size: 1.2rem;
  }
  .nextArticle {
    width: 190px;
    padding: 25px 0;
    font-size: 0.8rem;
  }
  .nextArticle i {
    font-size: 0.7rem;
  }

  /* FOR THE CONTACT */
  .contactMainContainer {
    width: calc(100% - 40px);
    height: calc(100vh - 35px);
    margin: 0 auto;
    background: rgba(255, 255, 255, 1);
  }
  .contactGrid {
    grid-template-columns: 1fr 1fr;
  }
  .contactButtonContainer,
  .contactTextArea,
  .contactEmail,
  .contactMobile {
    grid-column: 1/3;
  }
  .contactInformation,
  .contactPhone,
  .contactQuestions,
  .contactQuestions a {
    font-size: 1.2rem;
  }
  .contactInformation span {
    font-size: 1.4rem;
  }
  .contactSection .sectionTitle {
    font-size: 0.9rem;
  }
  .contactSendButton {
    padding: 15px 45px;
    font-size: 0.8rem;
  }

  /* FOR THE RETURN POLICY */
  .returnPolicyMainContainer {
    width: calc(100% - 40px);
    margin: 0 auto;
    padding-top: 40px;
    background: rgba(255, 255, 255, 1);
  }
  .returnPolicyContainer {
    width: 85%;
  }
  .returnPolicyPicture {
    width: 85%;
    margin: 0 auto;
  }
  .returnPolicyTitle {
    padding: 20px 0 30px;
    font-size: 5rem;
    background: rgba(255, 255, 255, 1);
  }
  .returnPolicyDescription {
    font-size: 1.2rem;
  }

  /* FOR THE MAILING LIST */
  .mailingListContainer {
    margin-top: 0px;
    height: 550px;
  }
  .mailingListContainer:before {
    background-size: 650px;
  }
  .mailingListContainer h1 {
    margin: 120px 0 0;
    font-size: 2.6rem;
  }
  .mailingListContainer p {
    width: 70%;
    margin: 40px auto 50px;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .mailingListContainer form input[type="text"] {
    width: 400px;
    font-size: 1.1rem;
  }
  .mailingListContainer form input[type="submit"] {
    width: 100px;
    font-size: 0.8rem;
  }

  /* FOR THE FOOTER */
  footer {
    padding: 0 20px 20px;
    background: rgba(220, 220, 220, 0.3);
  }
  .footerMainContainer {
    background: rgba(255, 255, 255, 1);
  }
  .footerLogoContainer {
    margin: 10px auto 20px;
  }
  .leftLine,
  .rightLine {
    background: rgba(200, 200, 200, 1);
  }
  .footerPrincipalSection {
    display: flex;
  }
}

@media screen and (min-width: 990px) {
  /* FOR THE NAVBAR */
  .socialIcons a i {
    font-size: 1.4rem;
  }

  /* FOR THE HOME PAGE/COFFEE AND GIFTS PAGE */
  .homeBanner {
    display: block;
    position: absolute;
    width: 90%;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 9rem;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  }
  .homeBestSellerContainer {
    bottom: -140px;
    left: 50%;
    transform: translateX(-50%);
    width: 45%;
    height: 80%;
  }
  .homeBestSellerDescriptionContainer {
    bottom: 2px;
    left: 20px;
    width: 35%;
    height: 44%;
  }
  .bestSellerTitle {
    margin: 0 0 10px;
  }
  .bestSellerSubtitle {
    margin: 5px 0 15px 0;
  }
  .ideaDescriptionContainerStory,
  .ideaDescriptionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 60px 90px;
  }
  .ideaDescriptionContainerStory {
    padding: 70px 70px;
  }
  .ideaTitle span,
  .ideaTitle {
    width: 500px;
    margin-right: 50px;
    font-size: 1.9rem;
  }
  .ideaDescription {
    width: 400px;
  }
  .featuredItemsContainer {
    width: 900px;
    margin: 0 auto;
  }
  .coffeePageItemsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* FOR THE SELECTION PAGE */
  .coffeeSelectionMainContainer {
    padding: 150px 0 90px;
  }
  .coffeeSelectionSecondContainer {
    display: flex;
    align-items: center;
    width: 900px;
    margin: 0 auto;
  }
  .coffeeSelectionPictureContainer {
    width: 700px;
    padding: 0;
  }
  .coffeeSelectionPictureContainer img {
    width: 100%;
  }
  .coffeeSelectionDescriptionContainer {
    flex-grow: 1;
  }
  .coffeeSelectionTitle {
    font-size: 2.6rem;
  }
  .beanPrice {
    font-size: 2rem;
  }

  /* FOR OUR STORY AND OUR PROCESS */
  .ourProcessMainContainer,
  .ourStoryMainContainer {
    padding-top: 40px;
  }
  .ourProcessMainPicture,
  .ourStoryMainPicture {
    width: 85%;
    margin: 0 auto;
  }
  .factsDescriptionMainContainer {
    margin-top: 40px;
  }
  .ourProcessDescriptionContainer {
    padding-top: 40px;
  }
  .ourProcessTitle,
  .ourStoryTitle {
    transform: translate(-50%, -90%);
  }
  .ideaDescriptionContainerStory {
    margin: 40px auto 0;
  }

  /* FOR THE MENU */
  .giftsPageTitle,
  .coffeePageTitle,
  .ourStoryTitle,
  .blogTitle,
  .contactTitle,
  .locationTitle,
  .menuTitle {
    font-size: 6rem;
  }
  .menuContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .menuPrincipalSection {
    width: 40%;
  }
  .menuPrincipalSection:first-of-type {
    margin-top: 0;
  }
  .coldBrewSubTitle {
    margin-top: 50px;
  }

  /* FOR THE LOCATION AND BLOG */
  .blogDescription,
  .locationDescription {
    margin: 0 auto 60px;
  }
  .blogsContainer,
  .shopsLocationContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .blogContainer,
  .shopLocationContainer {
    width: 47.5%;
    margin-bottom: 40px;
  }
  .blogContainer:last-of-type,
  .shopLocationContainer:last-of-type {
    margin-bottom: 40px;
  }
  .locationAddress {
    width: 85%;
  }
  .locationName a {
    font-size: 2.4rem;
  }
  .locationAddressContainer {
    padding: 30px 30px;
    height: 250px;
  }
  .locationWeekend,
  .locationWeekDay {
    width: 42%;
    margin: 0 10px 40px;
  }
  .blogName a {
    font-size: 2rem;
  }
  .blogText {
    margin: 20px auto 15px;
  }

  /* FOR THE ARTICLE */
  .articleTitle {
    font-size: 4rem;
  }

  /* FOR THE CONTACT */
  .contactMainContainer {
    padding: 0 0 60px;
  }
  .contactContainer {
    width: 900px;
  }
  .contactTextArea {
    height: 250px;
  }
  .contactGrid {
    margin-top: 70px;
  }
  .returnPolicyPicture {
    width: 900px;
  }
  .returnPolicyPicture img {
    height: 100%;
  }
  .returnPolicyContainer {
    width: 100%;
    padding: 20px 0 60px;
  }
  .returnPolicyContainer p {
    width: 900px;
    margin: 0 auto 30px;
  }

  /* FOR THE MAILING LIST */
  .mailingListContainer h1 {
    font-size: 2.7rem;
  }
  .mailingListContainer form {
    width: 900px;
  }

  /* FOR THE FOOTER */
  .footerContainer {
    width: 900px;
  }
  .footerLogoContainer {
    width: 850px;
  }
}

@media screen and (min-width: 1200px) {
  /* FOR THE HOME PAGE/COFFEE AND GIFTS PAGE */
  .homePageMainContainer {
    padding-top: 40px;
  }
  .homeBackgroundImage {
    width: 1100px;
    margin: 0 auto;
  }
  .ideaDescriptionContainer {
    width: 1200px;
    margin: 40px auto 0;
    padding: 100px 60px 90px;
  }
  .coffeePageItemsContainer {
    width: 1100px;
    margin: 0 auto;
  }

  /* FOR THE CART PAGE */
  .cartInformations {
    width: 1000px;
    margin: 0 auto;
  }

  /* FOR OUR STORY AND OUR PROCESS */
  .ideaDescriptionContainerStory {
    width: 1200px;
  }
  .ourProcessMainPicture,
  .ourStoryMainPicture {
    width: 900px;
  }
  .ourProcessPicturesContainer,
  .ourStoryPicturesContainer {
    width: 900px;
    margin: 0 auto;
    justify-content: space-between;
  }
  .factsTitle,
  .factsDescription,
  .ourProcessFirstPicture,
  .processTitle,
  .processSubtitle,
  .processText,
  .storyText,
  .storySubtitle,
  .ourStoryThirdPicture {
    width: 900px;
  }
  .processSteps {
    width: 900px;
    margin: 0 auto;
  }

  /* FOR THE MENU */
  .menuContainer {
    width: 1000px;
  }

  /* FOR THE LOCATION AND BLOG */
  .blogsContainer,
  .shopsLocationContainer {
    width: 1070px;
  }
  .blogDescription,
  .locationDescription {
    width: 750px;
  }
  .blogText {
    margin: 30px auto 15px;
  }

  /* FOR THE ARTICLE */
  .article4MainPhoto,
  .article3MainPhoto,
  .article1MainPhoto,
  .article2MainPhoto {
    width: 900px;
    margin: 0 auto;
  }
  .articleSubtitle,
  .articleMainContainer p {
    width: 900px;
  }
}
